.ontask-instructor-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.ontask-instructor-wrapper iframe {
    position: relative;
    width: 100%;
    height: 1000px;
    top: 0;
    left: 0;
}

.create-workflow {
    display: grid;
    place-items: center
}

.error-message {
    color: red;
    padding-top: 15px;
}